@model List<WebApp.Models.EventPlanViewModel>
@{
    ViewBag.Title = "Таблица планов событий";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Название организации
                </td>
                <td>
                    Название события
                </td>
                <td>
                    Начало события
                </td>
                <td>
                    Конец события
                </td>
                <td>
                    Планируемый объем
                </td>
                <td>
                    Планируемая стоимость
                </td>
                <td>
                    Экономический эффект
                </td>
                <td>
                    ФИО работника
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.OrganizationName
                </td>
                <td>
                    @elem.EventName
                </td>
                <td>
                    @elem.StartDate
                </td>
                <td>
                    @elem.EndDate
                </td>
                <td>
                    @elem.PlanVolume
                </td>
                <td>
                    @elem.PlanCost
                </td>
                <td>
                    @elem.EconomicEffect
                </td>
                <td>
                    @elem.EmployeeFIO
                </td>
            </tr>
        }
    </table>
</div>
