@model List<WebApp.Models.SourceViewModel>
@{
    ViewBag.Title = "Таблица источников";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Название организации
                </td>
                <td>
                    Фонд организации
                </td>
                <td>
                    Название вышестоящей организации
                </td>
                <td>
                    Фонд вышестоящей организации
                </td>
                <td>
                    Фонд Министерства Энергетики
                </td>
                <td>
                    Республиканский бюджет
                </td>
                <td>
                    Местный бюджет
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.OrganizationName
                </td>
                <td>
                    @elem.OrganizationFunds
                </td>
                <td>
                    @elem.SuperiorOrganizationName
                </td>
                <td>
                    @elem.SuperiorOrganizationFunds
                </td>
                <td>
                    @elem.MinistryOfEnergyFund
                </td>
                <td>
                    @elem.RepublicBudget
                </td>
                <td>
                    @elem.LocalBudget
                </td>
            </tr>
        }
    </table>
</div>
