@model WebApp.Models.SourceIndexViewModel
<h3>
    Изменение записи
</h3>
@using (Html.BeginForm("UpdateSource", "Source", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Id)
        <div class="col-md-10">
            <select name="Id">
                @foreach (var id in Model.Ids)
                {
                    <option>@id</option>
                }
            </select>
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.OrganizationName)
        <div class="col-md-10">
            <select name="OrganizationName">
                @foreach (var fio in Model.OrganNames)
                {
                    <option>@fio</option>
                }
            </select>
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.OrganizationFunds)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OrganizationFunds)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.SuperiorOrganizationName)
        <div class="col-md-10">
            <select name="SuperiorOrganizationName">
                @foreach (var name in Model.OrganNames)
                {
                    <option>@name</option>
                }
            </select>
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.SuperiorOrganizationFunds)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SuperiorOrganizationFunds)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.MinistryOfEnergyFund)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.MinistryOfEnergyFund)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.RepublicBudget)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RepublicBudget)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.LocalBudget)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LocalBudget)
        </div>
    </div>
    <div>
        <div>
            <input type="submit" class="btn btn-default" value="Изменить" />
        </div>
    </div>
}

